@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #2a233c;
    --foreground: #312d4b;
    --card: #ffffff;
    --card-foreground: #0a0a0a;
    --popover: #ffffff;
    --popover-foreground: #0a0a0a;
    --primary: #8c57ff;
    --primary-foreground: #f5faff;
    --secondary: #3badfb;
    --secondary-foreground: #1a1b1f;
    --muted: #cac9cd;
    --muted-foreground: #71767f;
    --accent: #e7e3fc;
    --accent-foreground: #1a1b1f;
    --destructive-foreground: #f5faff;
    --border: #cac9cd;
    --input: #cac9cd;
    --ring: #8c57ff;
    --radius: 0.5rem;
    --success: #56ca00;
    --success-foreground: #354546;
    --destructive: #ff4c51;
    --destructive-foreground: #55304c;
    --warning: #ffb400;
    --warning-foreground: #544146;
  }

  .dark {
    --background: #0a0a0a;
    --foreground: #f5faff;
    --card: #0a0a0a;
    --card-foreground: #f5faff;
    --popover: #0a0a0a;
    --popover-foreground: #f5faff;
    --primary: #0076ff;
    --primary-foreground: #1a1b1f;
    --secondary: #2a2d33;
    --secondary-foreground: #f5faff;
    --muted: #2a2d33;
    --muted-foreground: #a3a8b2;
    --accent: #2a2d33;
    --accent-foreground: #f5faff;
    --destructive: #990000;
    --destructive-foreground: #f5faff;
    --border: #2a2d33;
    --input: #2a2d33;
    --ring: #004ecc;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background font-poppins text-muted;
  }
  h1 {
    @apply text-2xl font-semibold text-muted;
  }
  span {
    @apply line-clamp-1 block align-middle;
  }
}

.input-root {
  @apply relative;
}

.input-root.input-error input,
.select-root.select-error button {
  @apply border-2 border-destructive focus:border-destructive focus:ring-destructive focus-visible:ring-destructive;
}

.input-root input:is(:focus, :not(:placeholder-shown)) + label,
.select-root button:not([data-placeholder]) .label-custom {
  @apply -top-2 translate-y-0 text-xs;
}
